<!DOCTYPE html>
<html>
    <body>
        <table border="1" style="width:550px;">
            <tr>
                <td>제목</td><td><%=data[0].Title%></td>
            </tr>
            <tr>
                <td>작성자</td><td><%=data[0].Writer%></td>
            </tr>
            <tr>
                <td>내용</td><td><%=data[0].Content%></td>
            </tr>
        </table>
    </body>
</html>