<!DOCTYPE html>
<html>
    <body>
        <table border="1" style="width:550px;">
            <tr>
                <td>제목</td>
                <td colspan="4"><input type="text" id="title"></td>
            </tr>
            <tr>
                <td>작성자</td>
                <td colspan="4"><input type="text" id="writer"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td colspan="4"><textarea id="content" style="width: 350px; height: 500px;"></textarea></td>
            </tr>
            <tr>
                <td colspan="4"><button onclick="Insert()">완료</button></td>
            </tr>
        </table>
    </body>
    <script src="/javascripts/board.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>